
.body-1{
   text-align: center;
   background-color: black; 
   color: white;
}
.h1-1{
   font-family: 'Bebas Neue', cursive;
   font-size: 40px;
}
.p-1{
   font-family: 'Karantina', cursive; 
   font-size: 30px"
}
